header{


  div.uk-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    color: $white;
    padding: 0;
  }

  .uk-navbar-container{
    background-color: #2d2d2d !important;
  }

  .uk-logo{
    color: $white;
  }
}