description = "Default layout"
[session]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Social Community - {{ this.page.title }}</title>


    <!-- SEO Meta !-->
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="keywords" content="{{ this.page.meta_keywords }}">


    <!-- Open Graph !-->
    <meta property="og:title" content="{{ this.page.meta_title }}"/>

    <meta property="og:image" content="{{ this.page.thumb }}"/>
    <meta property="og:description" content="{{ this.page.meta_description }}"/>


    <!-- Twitter Cards !-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ this.page.meta_title }}">

    <meta name="twitter:description" content="{{ this.page.meta_description }}">


    <!-- meta author !-->
    <meta name="author" content="lzoMedia">


    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}">
    <link rel="icon" type="image/png" href="{{ 'assets/img/favicon.ico'|theme }}">

    <!-- CORE CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>


    <!-- THEME CSS -->
    <link rel="stylesheet" href="{{ 'production/home.min.css' | theme }}">


</head>

<body>


<!-- start the main -->
<div class="uk-offcanvas-content">


    <!-- Flash -->
    {% flash %}
    <div data-control="flash-message" class="flash-message ease-out {{ type }}" data-interval="10">
        {{ message }}
    </div>
    {% endflash %}


    <!--- Header !-->
    {% partial "site/_header.htm" %}


    <!-- Page !-->
    {% page %}


    <!--- Footer !-->
    {% partial "site/_footer.htm" %}

    <!-- Side Menu !-->
    {% partial "site/_side_menu.htm" %}


    <!-- Notification Side Menu !-->
    {% partial "site/_notifications.htm" %}

</div>

<!-- /#wrapper -->
<script src="{{ '/production/home.min.js' | theme }}"></script>
{% framework extras %}



</body>
</html>