.uk-card{

  //media efects
  .uk-card-media-top{

    .img-wrapper {
      position: relative;
      width: 100%;
      font-size: 0;
    }

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128,128,128,0.5);
    }

    .img-wrapper img {width: 100%;}
  }

  .uk-card-body{
    padding:1vw 1vh;
  }

  //fonts for title
  .uk-card-title {
    font-size: 1.2rem;
    line-height: 1.2;
    margin:1vh;
    text-transform: capitalize;
  }


}



.uk-card-body{
  word-break: normal !important;

}


.uk-card {
  border-top: 2px solid;
  position: relative;
  -webkit-transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  border-radius: 3px;
}
.uk-card:hover {
  box-shadow: 0 0 0 7px rgba(0,0,0,0.045);
}
.uk-card .uk-inline {
  z-index: 99;
}
.uk-card .uk-card-footer {
  padding: 0.55rem 1rem;
}
.uk-card .uk-card-header {
  padding: 0.55rem 1rem;
}
.uk-card .cat-txt {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}
.nature-card .uk-card {
  border-top-color: #1E87F0;
}
.uk-subnav li a {
  border-radius: 3px;
}
.uk-subnav li.uk-active:nth-child(3) a {
  background-color:#8630F0;
}
.uk-subnav li.uk-active:nth-child(4) a {
  background-color:#F03A7F;
}
.uk-subnav li.uk-active:nth-child(5) a {
  background-color:#E84DF0;
}
.nature-card .uk-card .cat-txt {
  color: #1E87F0;
}
.music-card .uk-card {
  border-top-color: #8630F0;
}
.music-card .uk-card .cat-txt {
  color: #8630F0;
}
.design-card .uk-card {
  border-top-color: #E84DF0;
}
.design-card .uk-card .cat-txt {
  color: #E84DF0;
}
.photo-card .uk-card {
  border-top-color: #F03A7F;
}
.photo-card .uk-card .cat-txt {
  color: #F03A7F;
}
.uk-card .uk-overlay-primary {
  padding:  0.5rem;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 0.7;
}
img[data-src][src*='data:image'] { background: rgba(0,0,0,0.1); }
.search-fld {
  border-radius: 50px;
  padding: 0 1rem;
}