<div id="create-community" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-image: url('https://picsum.photos/1300/500/?random');" uk-height-viewport></div>
            <div class="uk-padding">

                <h2 title="create your own social media group">
                    Create your community
                </h2>

                <form class="uk-form-stacked" data-request="onCreateCommunity">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">
                            Name
                        </label>
                        <div class="uk-form-controls">
                            <input name="name" class="uk-input" id="form-stacked-text" required type="text">
                        </div>
                    </div>


                    <input name="image" hidden value="https://picsum.photos/300/300/?random" class="uk-input"  required type="text">


                    <div class="uk-margin">

                        <label class="uk-form-label" for="form-stacked-text">
                            Description
                        </label>

                        <textarea name="description" class="uk-textarea" rows="5"></textarea>
                    </div>


                    <div class="uk-margin">


                        <button class="uk-button uk-button-danger">
                            Create
                        </button>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>